= form_for @student do |f|
  - if @student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@student.errors.count, "error")} prohibited this student from being saved:"
      %ul
        - @student.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_area :email, :cols => 40, :rows => 1
  .field
    = f.label :gender
    - @genders.each do |tag|
      = tag
      = radio_button_tag "tags[]", "#{tag}"
      &emsp;
  .field
    = f.label :ethnicity
    - @ethnicities.each do |tag|
      = radio_button_tag "tags[]", "#{tag}"
      = tag
      %br
  .field
    = f.label :topics
    %table
      %tbody
        %tr
        - count = 0
        - @all_project_tags.each do |tag|
          - if count == 3
            - count = 0
            %tr
          %td= check_box_tag "tags[]", "#{tag}"
          %td= tag
          - count += 1
  .field
    = f.label :hardware, "Hardware Experience"
    - @yes_no.each do |tag|
      = radio_button_tag "tags[]", "#{tag}"
      = tag
      &emsp;
  .field
    = f.label :electives
    %table
      %tbody
        %tr
        - count = 0
        - @electives.each do |tag|
          - if count == 3
            - count = 0
            %tr
          %td= check_box_tag "tags[]", "#{tag}"
          %td= tag
          - count += 1
  .field
    = f.label :project, "Projects"
    - @projects.each do |project|
      = "Title: " + project.title
      %br
      %br
      Description:
      %br
      = project.description
      %br
      %br
      Hardware Experience:
      = project.hardware
      %br
      %br
      - if project.industry_sponsored
        Industry Sponsor:
        = project.client
        %br
        %br
      %br
      %br
  .actions
    = f.submit 'Submit'
