%h1 Projects

%table#projects.table.table-striped.col-md-15
  %thead
    %tr
      %th Title
      %th Description
      %th Min group size
      %th Max group size
      %th Topics
      %th Hardware
      %th Industry sponsored
      %th Client
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.description
        %td= project.min_group_size
        %td= project.max_group_size
        %td= project.topics
        %td= project.hardware
        %td= project.industry_sponsored
        %td= project.client
        %td= link_to 'Show', section_project_path(:id => project.id)
        %td= link_to 'Edit', edit_section_project_path(:id => project.id)
        %td= link_to 'Destroy', section_project_path(:id => project.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Add New Project', new_section_project_path

%br
%br

Student Form:
= link_to 'Get URL', '', data: { confirm: 'Link for email: ' + request.base_url + url_for(new_section_student_path) }

%br
%br

= link_to 'Match Students', match_section_projects_path

%br
%br
-if @manual_assignment.length() > 0
  Please Manually Assign the following Students
  %br
  - @manual_assignment.each do |s|
    = s.first_name + ' ' + s.last_name
    %br
  
%br
%br

= link_to 'Back', sections_path
