%h1 New Project

= form_tag section_projects_path do
    = label :project, :title, 'Title'
    = text_field :project, 'title'
    %br
    %br
    = label :project, :description, 'Description'
    = text_area :project, 'description', :cols =>70, :rows => 10
    %br
    %br
    = label :project, :min_group_size, "Min Group Size"
    = number_field :project, 'min_group_size', :min => 3, :max => 9
    %br
    %br
    = label :project, :max_group_size, "Max Group Size"
    = number_field :project, 'max_group_size', :min => 3, :max => 9
    %br
    %br
    = label :project, :topics, 'Tags'
    %table
        %tbody
            %tr
                - count = 0
                - @all_project_tags.each do |tag|
                    - if count == 3
                        - count = 0
                        %tr
                    %td= check_box_tag "tags[]", "#{tag}"
                    %td= tag
                    - count += 1
    %br
    %br
    = label :project, :hardware, 'Hardware'
    = check_box :project, 'hardware'
    %br
    %br
    = label :project, :industry_sponsored, 'Industry Sponsored'
    = check_box :project, 'industry_sponsored'
    %br
    %br
    = label :project, :client, 'Client'
    = text_field :project, 'client'
    %br
    %br
    = submit_tag 'Create Project'

%br
%br

= link_to 'Back', section_projects_path(:section_id)
