%h1 Create New Project

= form_for :project do |f|
    .form-group
        = f.label "Project Name"
        %br
        = f.text_field @title, :size => 50
    .form-group
        = f.label "Project Description"
        %br
        = f.text_area @description, :cols => 70, :rows => 10
    .form-group
        = f.label "Min Group Size"
        = f.text_field @min_group_size, :size => 2
        &emsp;&emsp;
        = f.label "Max Group Size"
        = f.text_field @max_group_size, :size => 2
    .form-group
        = f.label "Project Tags"
        %br
        = f.collection_check_boxes :publish_to, [["thing1"],["thing2"],["thing3"],["thing4"],["thing5"]], :first, :first do |b|
            = b.label
            = b.check_box
            &emsp;
        %br
        = f.collection_check_boxes :publish_to, [["thing6"],["thing7"],["thing8"],["thing9"],["thing10"]], :first, :first do |b|
            = b.label
            = b.check_box
            &emsp;
    .form-group
        = f.label "Hardware"
        = f.check_box @hardware
    .form-group
        = f.label "Industry Sponsored"
        = f.check_box @industry_sponsored
    .form-group
        = f.label "Client (if industry sponsored)"
        = f.text_field @client
